coverage==7.16.1
dill==0.4.1
iniconfig==2.3.0
numpy==2.4.6
opt-einsum==3.4.0
packaging==26.3
pluggy==1.6.0
pygments==2.21.0
pytest==9.1.1
pytest-cov==7.1.0
qiskit==2.3.1
rqm-compiler==0.3.7
rqm-core==0.2.2
rqm-entanglement==0.2.2
rustworkx==0.18.1
scipy==1.17.1
stevedore==5.9.1
typing-extensions==4.16.0
